h1, h2 {
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

h2 {
  font-size: 38px;
  line-height: 57px;
}

@media (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #cacaca;
  background: #08020d;
  margin: 0;
  padding: 0;
}